.row
	.span12
		%form{:action => "/register", :method => "post"}
			%input{:type => "text", :name => "name"}/
			%input{:type => "text", :name => "email"}/   
			%input{:type => "password", :name => "password"}/
			%button{:type => "submit"}
				Créer  
