<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#/dispatch">CASA</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li ng-show="user_connected" class="active"><a href="{{root}}dispatch">Dispatch</a></li>
          <li ng-show="user_connected" class="active"><a href="{{root}}clients">Clients</a></li>
          <!-- <li ng-show="user_connected" class="active"><a href="{{root}}jobs">Jobs</a></li> -->
          <li ng-show="user_connected" class="active"><a href="{{root}}employees">Employés</a></li>
          <li ng-show="user_connected" class="active"><a href="{{root}}trucks">Camions</a></li>
          <li ng-show="user_connected" class="active"><a href="{{root}}boxes">Coffres</a></li>
          <li ng-show="user_connected" class="active"><a href="{{root}}utilisateurs">Utilisateurs</a></li>
          <li ng-show="!user_connected" class="active"><a href="{{root}}login">Login</a></li>
          <li ng-show="user_connected"><a href="#" ng-click="logout()">Logout</a></li>
        </ul>
        <form class="navbar-form pull-right">
          
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

