<!-- GENERAL INFO -->
<div ng-include src="'partials/copy_button_affectation.html'"></div>
<div class="pane well well-large">
  <fieldset>
    <div class="span3">
      <label>Chef de chantier : </label>
      <select ng-model="newAffectation.supervisor_id" 
	      ng-options="sup.id as sup.name for sup in elements | elems:'Supervisor' | active_element:newAffectation.date:days | already_attr_elems:days:newAffectation.date:use_already_affected:newAffectation.supervisor_id | remove_affected:newAffectation.elems"></select>
    </div>
    <div class="span12" style="margin-left:0px;">
      <!-- <div class="span3"> -->
      <!-- 	<label>Jobs :</label> -->
      <!-- 	<select ng-model="newAffectation.job" ng-options="job.name for job in elements | elems:'Job'"></select> -->
      <!-- </div> -->
      <div class="span3">
	<label>Client :</label>
	<select type="text" ng-model="newAffectation.client_id" ng-options="client.id as client.name for client in elements | elems:'Client'"></select>
	<!-- <label>Superviseur : </label> -->
	<!-- <select ng-model="supervisor"  ng-options="supervisor.name for supervisor in (emps | subset_emp:true)"></select> -->
      </div>
      <div class="span3">
	<label>Bon de service :</label>
	<input type="text" ng-model="newAffectation.link_number">
      </div>
    </div>
    <div class="span8">
      <label>Notes : </label>
      <textarea style="width: 92%; height: 100%;" cols="8" rows="5" ng-model="newAffectation.notes"></textarea>
    </div>
  </fieldset>
</div>
<hr>

<!-- SELECT TEAM -->
<div cs-team-selection="true"></div>

<!-- DISPLAY TEAM -->
<div ng-include="'partials/display_team.html'"></div>

<hr>
<div class="row" style="clear: both; margin-bottom: 85px;">
  <a href="" ng-show="mode == 'ADD'" class="btn btn-danger" ng-click="clear_all()" style="margin-left:33%; margin-top:25px;">Effacer</a>
  <a href="" ng-show="mode == 'MODIFY'" class="btn btn-danger" ng-click="cancel_modification()" style="margin-left:33%; margin-top:25px;">Annuler</a>
  <a href="" ng-show="!modifying" class="btn btn-success" ng-click="save_affectation('clear_all')" style="margin-left:2%; margin-top:25px;">Sauvegarder</a>
  <a href="" ng-show="!modifying" class="btn btn-success" ng-click="save_affectation('clear_keep_team')" 
     title="Sauvegarde l'affectation mes préserve l'équipe"
     style="margin-left:2%; margin-top:25px;">Nouveau Client</a>
  <a href="" ng-show="modifying" class="btn btn-success" ng-click="save_modification()" style="margin-left:2%; margin-top:25px;">Confirmer</a>
  <a href="" ng-show="mode == 'MODIFY'" class="btn btn-danger" ng-click="reset_affectation()" title="Réinitialise l'affectation avant les modifications" 
     style="margin-left:2%; margin-top:25px;">Réinitialiser</a>
</div>
