<div ng-controller="ClientsCtrl">
  <legend><h2>Clients</h2></legend>

  <div class="span6 forms">
    <legend> Ajouter un Client</legend>
    <form>
      <label>Nom :</label>
      <input type="text" ng-model="newElem.name">
      <label>Contact :</label>
      <input type="text" ng-model="newElem.contact">
      <label>Numero de référence :</label>
      <input type="text" ng-model="newElem.ref_number">
      <label>Téléphone :</label>
      <input type="text" ng-model="newElem.phone">
      <label>Ville :</label>
      <input type="text" ng-model="newElem.city">
      <label>Addresse :</label>
      <input type="text" ng-model="newElem.address">
      <label>Code Postal :</label>
      <input type="text" ng-model="newElem.postal_code">
      <label>Vendeur Casa :</label>
      <input type="text" ng-model="newElem.casa_salesman">
      <label>Notes :</label>
      <textarea ng-model="newElem.notes" rows="3" cols="8"></textarea>
      <label></label>
      <button class="btn btn-success" disabled>En construction</button>
      <!-- <button class="btn btn-success" ng-click="submit()">Ajouter</button> -->
    </form>
  </div>
</div>
