<div ng-show="!modifying" class="pane well well-large">
  <div class="btn-group" bs-buttons-checkbox style="margin-left:5%;">
    <button type="button" class="btn btn-info btn-large" ng-model="days.Dimanche">Dimanche</button>
    <button type="button" class="btn btn-info btn-large" ng-model="days.Lundi">Lundi</button>
    <button type="button" class="btn btn-info btn-large" ng-model="days.Mardi">Mardi</button>
    <button type="button" class="btn btn-info btn-large" ng-model="days.Mercredi">Mercredi</button>
    <button type="button" class="btn btn-info btn-large" ng-model="days.Jeudi">Jeudi</button>
    <button type="button" class="btn btn-info btn-large" ng-model="days.Vendredi">Vendredi</button>
    <button type="button" class="btn btn-info btn-large" ng-model="days.Samedi">Samedi</button>
  </div>
</div>
