<legend class="row"><h2 style="float:left;">DISPATCH</h2>
  <button class="btn btn-warning btn-large" style="margin-left:10%; margin-bottom:-1%;" ng-show="!attribute_elem_screen" 
	  ng-click="attribute_elem_screen=true">Éléments Attribués</button>
  <button class="btn btn-warning btn-large" style="margin-left:10%; margin-bottom:-1%;" ng-show="attribute_elem_screen" 
	  ng-click="attribute_elem_screen=false">Dispatch</button>
  <a class="btn btn-warning btn-large" style="margin-left:4%; margin-bottom:-1%;" href="#/day_details?date={{date.fstDate.getTime()}}" 
     ng-click="safeApply()" target="blank" style="font-size:16px">Horaire Imprimable</a>
</legend>

<!-- *** Dispatch screen *** -->
<div class="Dispatch" ng-show="!attribute_elem_screen">
  <div class="row date_selecter" ng-controller="DateSelecterCtrl" style="margin-left:5%;">
    <div class="span9 date_selection date-control well well-large" style="padding-top:15px; height:{{pane_height}}px;">
      <div class="span12" style="margin:0;">
	<div class="span2" style="width:80px; margin-left:10px;">
	  <label style="float:left;"> En date du : </label>
	</div>
	<!-- <input type="text" class="datepicker " value="2013-02-28" style="padding-left:15px;"> -->
	<div class="span3 input-append" style="margin-left:-10px; margin-top:0;">
	  <input type="text"  ui-date="{ dateFormat: 'd MM, yy'}" ng-show="!affectation" 
		 ng-model="date.fstDate" style="padding-left:15px; width:135px;"></input>
	  <input type="text" ui-date="{ dateFormat: 'd MM, yy'}"  ng-show="affectation" 
		 ng_model="newAffectation.date" style="padding-left:15px; width:135px;"></input>
	  <a href="" ng-click="today();" class="btn-success btn">Aujourd'hui</a>
	</div>
	
	<!-- Add mode -->
	<div class="span2 offset1" ng-show="affectation">
	  <label for="start_time_affect_id"> Heure de départ :</label>
	</div>
	<div class="control-group span2" ng-show="affectation">
	  <input id="start_time_affect_id" style="width:85px; margin-top:-10px; margin-left:-27px;" type="text" ng-model="newAffectation.start_time.time" bs-timepicker>
	  <i class="icon-time" style="position: relative;margin: -8.2px 0 0 -24px;"></i>
	</div>
      </div>
	<!-- Selection mode -->
	<div ng-show="!affectation && !schedule_view" class="span12">
	  <div class="span2" style="width:80px; margin-left:-10px;">
	    <label style="float:left;"> Jusqu'au : </label>
	  </div>
	  <div class="span3 input-append" style="margin-left:-10px; margin-top:0;">
	    <input type="text" ui-date="{ dateFormat: 'd MM, yy'}" ng-model="date.sndDate" style="padding-left:15px; width:135px;"/ >
	    <a href="" ng-click="nextWeek();" class="btn-success btn">Sem. Prochaine</a>
	  </div>
	</div>
    </div>
    <div class="span2">
      <button href="" ng-show="!affectation" ng-click="set_mode(mode_enum.ADD);" class="btn btn-info" style="margin-top:10px;">Ajouter</button>
      <button ng-show="affectation || !schedule_view" ng-click="set_mode(mode_enum.SCHEDULE);" class="btn btn-info" style="margin-top:8px;"> Afficher l'horaire</button>
      <button ng-show="affectation || schedule_view" ng-click="set_mode(mode_enum.INDIV);" class="btn btn-info" style="margin-top:8px;"> Rapport</button>
    </div>
    <div class="span2">

    </div>
  </div>

  <div ng-controller="RenderCtrl" ng-show="!affectation">
    
    <!-- COMPLETE VIEW -->
    <form ng-show="!schedule_view && !affectation" style="margin-left:5%;" class="form-search filter_dispatch well span12 clearfix" style="clear:both;">
      <h4>Filtres</h4>
      <div class="input-prepend">
        <span class="add-on">Chef de chantier</span>
        <input type="text" ng-model="filter.supervisor" class="input-medium search-query">
      </div>
      <div class="input-prepend">
        <span class="add-on">Client</span>
        <input type="text" ng-model="filter.client" class="input-medium search-query">
      </div>
      <div class="input-prepend">
        <span class="add-on">Bon de service</span>
        <input type="text" ng-model="filter.link" class="input-medium search-query">
      </div>
      <div class="input-prepend">
        <span class="add-on" title="Superviseurs, employés, camions...">Élément</span>
        <input type="text" ng-model="filter.element" class="input-medium search-query">
      </div>
    </form>
    {{}}
    <div ng-show="!schedule_view && !affectation" class="span12" style="width: 1450px">
      <div ng-repeat="affect in affectations | between:date.fstDate:date.sndDate | affect_by_fields:filter.supervisor:filter.element:filter.client:filter.link">
	<div ng-model="affect" cs-render-affectation="true"></div>
      </div>
    </div>

    <!-- SCHEDULE VIEW -->
    <div ng-show="schedule_view && !affectation" class="span12" style="border: 3px rgb(240, 240, 240) solid; border-radius:15px; width:1392px">
      <div ng-repeat="affect in affectations | between:date.fstDate">
	<div class="span3 schedule_report" ng-model="affect" cs-render-schedule="true"></div>
      </div>
    </div>

  </div>

  <div class="row span12" style="margin-left:5%;">
    <div class="affectation" ng-show="affectation">
      <!-- GENERAL INFO -->
      <div ng-show="team_confirmed">
	<div ng-show="!modifying" class="pane well well-large">
	  <div class="btn-group" bs-buttons-checkbox style="margin-left:5%;">
	    <button type="button" class="btn btn-info btn-large" ng-model="days.Dimanche">Dimanche</button>
	    <button type="button" class="btn btn-info btn-large" ng-model="days.Lundi">Lundi</button>
	    <button type="button" class="btn btn-info btn-large" ng-model="days.Mardi">Mardi</button>
	    <button type="button" class="btn btn-info btn-large" ng-model="days.Mercredi">Mercredi</button>
	    <button type="button" class="btn btn-info btn-large" ng-model="days.Jeudi">Jeudi</button>
	    <button type="button" class="btn btn-info btn-large" ng-model="days.Vendredi">Vendredi</button>
	    <button type="button" class="btn btn-info btn-large" ng-model="days.Samedi">Samedi</button>
	  </div>
	</div>
	<div class="pane well well-large">
	  <fieldset>
	    <div class="span3">
	      <label>Chef de chantier : </label>
	      <select ng-model="newAffectation.supervisor_id" 
		      ng-options="sup.id as sup.name for sup in elements | elems:'Supervisor' | already_attr_elems:days:newAffectation.date:use_already_affected:newAffectation.supervisor_id"></select>
	    </div>
	    <div class="span12" style="margin-left:0px;">
	      <!-- <div class="span3"> -->
	      <!-- 	<label>Jobs :</label> -->
	      <!-- 	<select ng-model="newAffectation.job" ng-options="job.name for job in elements | elems:'Job'"></select> -->
	      <!-- </div> -->
	      <div class="span3">
		<label>Client :</label>
		<select type="text" ng-model="newAffectation.client_id" ng-options="client.id as client.name for client in elements | elems:'Client'"></select>
		<!-- <label>Superviseur : </label> -->
		<!-- <select ng-model="supervisor"  ng-options="supervisor.name for supervisor in (emps | subset_emp:true)"></select> -->
	      </div>
	      <div class="span3">
		<label>Bon de service :</label>
		<input type="text" ng-model="newAffectation.link_number">
	      </div>
	    </div>
	    <div class="span8">
	      <label>Notes : </label>
	      <textarea style="width: 92%; height: 100%;" cols="8" rows="5" ng-model="newAffectation.notes"></textarea>
	    </div>
	  </fieldset>
	</div>
	<hr>

	<!-- SELECT TEAM -->
	<div id="modal_elements_id" class="modal-elements" ng-controller="ElementsSelectionCtrl" style="width:90%;">
	  <legend style="width:225px; float:left;"> Équipe : </legend>
	  <div>  <!-- ng-show="!team_confirmed"> -->
	    <button style="float:left; margin-left:45px; margin-top:8px;" class="btn btn-info" ng-click="open()">Sélectionner votre équipe</button>
	    <label class="checkbox inline" for="use_already_affected_checkbox" style="margin-left:15px;">
	      <input id="use_already_affected_checkbox" type="checkbox" ng-model="use_already_affected">
	      Utiliser des éléments déjà affectés
	    </label>
	  </div>
	  <div style="clear:both";></div>
	  <div modal="shouldBeOpen" close="close()" options="opts">
            <div class="modal-header">
              <h4>Ajouter des Éléments</h4>
            </div>
            <div class="modal-body tabbable">
              <ul>
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#tab1" data-toggle="tab">Supervisors</a></li>
		  <li><a href="#tab2" data-toggle="tab">Employee</a></li>
		  <li><a href="#tab3" data-toggle="tab">Camions</a></li>
		  <li><a href="#tab4" data-toggle="tab">Coffres</a></li>
		</ul>
		<div class="tab-content">

		  <div ng-repeat="class in elements_class" class="tab-pane {{hack[$index].active}}" id="tab{{$index + 1}}">
		    <div class="row modal-checkboxes" 
			 ng-repeat="elem in elements | elems:elements_class[$index].name | already_attr_elems:days:newAffectation.date:use_already_affected">
		      <div class="squaredFour span1" style="margin-bottom:8px;">
			<input type="checkbox" ng-checked="elem.selected" id="modal_{{elements_class[$parent.$index].name}}{{elem.id}}" ng-model="elem.selected" ng-change="change(elem);" />
			<label for="modal_{{elements_class[$parent.$index].name}}{{elem.id}}"></label>
		      </div>
		      <div class="span3 modal-label" style="margin-top:0px; margin-left:-40px;">{{elem.name}} </div>
		    </div>
		  </div>
		</div>
              </ul>
            </div>
            <div class="modal-footer row">
              <button class="btn btn-success" ng-click="process();close()">Appliquer</button>
            </div>
	  </div>
	</div>

	<!-- DISPLAY TEAM -->

	<!-- Will be transform in a directive -->
	
	<div class="row span3" ng-show="(newAffectation.elems | elems:'Supervisor').length > 0">
	  <legend>Superviseur(s)</legend>
	  <div style="margin-left: 75px" class="pane well well-large employeeOnJob">
            <div class="row modal-checkboxes" ng-repeat="sup in newAffectation.elems | elems:'Supervisor'">
	      <div class="span2 modal-label" style="margin-top:0px; margin-left:-15px;">{{sup.name}}</div>
            </div>
	  </div>  
	</div>

	<!-- Will be transform in a directive -->
	<div class="row span3" ng-show="(newAffectation.elems | elems:'Employee').length > 0">
	  <legend>Employé(s)</legend>
	  <div style="margin-left: 75px" class="pane well well-large employeeOnJob">
            <div class="row modal-checkboxes" ng-repeat="emp in newAffectation.elems | elems:'Employee'">
	      <div class="span2 modal-label" style="margin-top:0px; margin-left:-15px;">{{emp.name}}</div>
            </div>
	  </div>  
	</div>

	<!-- Will be transform in a directive -->
	<div class="row span3" ng-show="(newAffectation.elems | elems:'Truck').length > 0">
	  <legend>Camion(s)</legend>
	  <div style="margin-left: 75px" class="pane well well-large employeeOnJob">
            <div class="row modal-checkboxes" ng-repeat="truck in newAffectation.elems | elems:'Truck'">
	      <div class="span2 modal-label" style="margin-top:0px; margin-left:-15px;">{{truck.name}}</div>
	    </div>
	  </div>  
	</div>

	<!-- Will be transform in a directive -->
	<div class="row span3" ng-show="(newAffectation.elems | elems:'Box').length > 0">
	  <legend>Coffre(s)</legend>
	  <div style="margin-left: 75px" class="pane well well-large employeeOnJob">
            <div class="row modal-checkboxes" ng-repeat="box in newAffectation.elems | elems:'Box'">
	      <div class="span2 modal-label" style="margin-top:0px; margin-left:-15px;">{{box.name}}</div>
            </div>
	  </div>  
	</div>
	<div style="clear:both"></div>
	<!-- <button ng-click="team_confirmed = true;" 
	     ng-show="team_applied && !team_confirmed" style="margin-left:40%;" class="btn btn-success">Confirmer</button> -->
	<hr>
	  <div class="row" style="clear: both; margin-bottom: 85px;">
	    <a href="" class="btn btn-danger" ng-click="clear_affectation()" style="margin-left:33%; margin-top:25px;">Clear</a>
	    <a href="" ng-show="!modifying" class="btn btn-success" ng-click="save_affectation('clear_all')" style="margin-left:2%; margin-top:25px;">Sauvegarder</a>
	    <a href="" ng-show="!modifying" class="btn btn-success" ng-click="save_affectation('clear_keep_team')" title="Sauvegarde l'affectation mes préserve l'équipe"
	       style="margin-left:2%; margin-top:25px;">Nouveau Client</a>
	    <a href="" ng-show="modifying" class="btn btn-success" ng-click="save_modification()" style="margin-left:2%; margin-top:25px;">Confirmer</a>
	  </div>
	</div>
    </div>
  </div>
</div>

<!-- ATTRIBUTED ELEMENT SCREEN -->
<div class="AttributedElement" ng-show="attribute_elem_screen">
  <div ng-repeat="class in elements_class">
    <div class="row" style="margin-bottom: 20px;" ng-show="(affected_elems | elems:elements_class[$index].name).length > 0">
      <legend class="span12">{{class.screen}}</legend>
      <div class="span12">
  	<li ng-repeat="elem in affected_elems | elems:elements_class[$index].name"
  	    class="span5"><strong>{{elem.elem.name}}</strong> => <em>{{elem.affect_name}}</em></li>
      </div>
    </div>
  </div>
</div>
