<legend class="row"><h2 style="float:left;">DISPATCH</h2>
  <button ng-show="false" class="btn btn-warning btn-large" style="margin-left:10%; margin-bottom:-1%;" ng-show="!attribute_elem_screen" 
	  ng-click="attribute_elem_screen=true">Éléments Attribués</button>
  <button class="btn btn-warning btn-large" style="margin-left:10%; margin-bottom:-1%;" ng-show="attribute_elem_screen" 
	  ng-click="attribute_elem_screen=false">Dispatch</button>
  <a class="btn btn-warning btn-large" style="margin-left:4%; margin-bottom:-1%;" href="#/day_details?date={{date.fstDate.getTime()}}" 
     ng-click="safeApply()" target="blank" style="font-size:16px" ng-show="required_type(USER_CLASS.BASIC_USER)">Horaire Imprimable</a>
  <button class="btn btn-large btn-success" ng-show="verify_type(USER_CLASS.EMPLOYE) && mode != 'INDIV'" 
	  ng-click="mode='INDIV'" style="margin-left:4%; margin-bottom:-1%">
    Consulter les rapports
  </button>

  <button class="btn btn-large btn-success" ng-show="verify_type(USER_CLASS.EMPLOYE) && mode != 'SCHEDULE'" ng-click="mode='SCHEDULE'"
  	  style="margin-left:4%; margin-bottom:-1%">
    Revenir à l'horaire
  </button>
</legend>

<!-- *** Dispatch screen *** -->
<div class="Dispatch" ng-show="!attribute_elem_screen">
  <div class="row date_selecter" ng-controller="DateSelecterCtrl" style="margin-left:5%;" ng-show="required_type(USER_CLASS.VENDEUR)">
    <div class="span9 date_selection date-control well well-large" style="padding-top:15px; height:{{pane_height}}px;">
      <div class="span12" style="margin:0;">
	<div class="span2" style="width:80px; margin-left:10px;">
	  <label style="float:left;"> En date du : </label>
	</div>
	<!-- <input type="text" class="datepicker " value="2013-02-28" style="padding-left:15px;"> -->
	<div ng-show="!affectation" class="span3 input-append" style="margin-left:-10px; margin-top:0;">
	  <input type="text"  ui-date="{ dateFormat: 'd MM, yy'}" ng-click="verify_month_reports()" 
		 ng-model="date.fstDate" style="padding-left:15px; width:135px;">
	  <a href="" ng-show="!affectation" ng-click="today();" class="btn-success btn">Aujourd'hui</a>
	</div>
	<div ng-show="affectation" class="span3 input-append" style="margin-left:-10px; margin-top:0;">
	  <input type="text" ui-date="{ dateFormat: 'd MM, yy'}"
	  	 ng_model="$parent.newAffectation_date" style="padding-left:15px; width:135px;">
	  <a href="" ng-click="today_affect_btn();" class="btn-success btn">Aujourd'hui</a>
	</div>
	
	<!-- Add mode -->
	<div class="span2 offset1" ng-show="affectation">
	  <label for="start_time_affect_id"> Heure de départ :</label>
	</div>
	<div class="control-group span2" ng-show="affectation">
	  <input id="start_time_affect_id" style="width:85px; margin-top:-10px; margin-left:-27px;" type="text" 
		 ng-model="$parent.newAffectation_time" bs-timepicker>
	  <i class="icon-time" style="position: relative;margin: -8.2px 0 0 -24px;"></i>
	</div>

      </div>
      <!-- Selection mode -->
      <div ng-show="!affectation && !schedule_view" class="span12">
	<!-- <div class="span2" style="width:80px; margin-left:-10px;"> -->
	<!--   <label style="float:left;"> Jusqu'au : </label> -->
	<!-- </div> -->
	<!-- <div class="span3 input-append" style="margin-left:-10px; margin-top:0;"> -->
	<!--   <input type="text" ui-date="{ dateFormat: 'd MM, yy'}" ng-model="date.sndDate" style="padding-left:15px; width:135px;"/ > -->
	<!--   <a href="" ng-click="nextWeek();" class="btn-success btn">Sem. Prochaine</a> -->
	<!-- </div> -->
      </div>
    </div>
    <div class="span2">
      <button href="" ng-show="!affectation && required_type(USER_CLASS.DISPATCH)" 
	      ng-click="set_mode(mode_enum.ADD);" class="btn btn-info" style="margin-top:10px;">Ajouter</button>
      <button ng-show="affectation || !schedule_view" ng-click="set_mode(mode_enum.SCHEDULE);" 
	      class="btn btn-info" style="margin-top:8px;">Afficher l'horaire</button>
      <button ng-show="affectation || schedule_view" ng-click="set_mode(mode_enum.INDIV);" class="btn btn-info" style="margin-top:8px;">Rapport</button>
    </div>
    <div class="span2">

    </div>
  </div>

  <div ng-show="!affectation">
    
    <!-- COMPLETE VIEW -->
    <form ng-show="!schedule_view && !affectation" style="margin-left:5%;" class="form-search filter_dispatch well span12 clearfix" style="clear:both;">
      <h4>Filtres</h4>
      <div class="input-prepend">
        <span class="add-on">Chef de chantier</span>
        <input type="text" ng-model="filter.supervisor" class="input-medium search-query">
      </div>
      <div class="input-prepend">
        <span class="add-on">Client</span>
        <input type="text" ng-model="filter.client" class="input-medium search-query">
      </div>
      <div class="input-prepend">
        <span class="add-on">Bon de service</span>
        <input type="text" ng-model="filter.link" class="input-medium search-query">
      </div>
      <div class="input-prepend">
        <span class="add-on" title="Superviseurs, employés, camions...">Élément</span>
        <input type="text" ng-model="filter.element" class="input-medium search-query">
      </div>
    </form>
    <div ng-show="!schedule_view && !affectation" class="span12" style="width: 1450px">
      <div ng-repeat="affect in affectations | between:date.fstDate | affect_by_fields:filter.supervisor:filter.element:filter.client:filter.link">
	<div ng-model="affect" cs-render-affectation="true"></div>
      </div>
    </div>

    <!-- SCHEDULE VIEW -->
    <div ng-show="schedule_view && !affectation" class="span12" style="border: 3px rgb(240, 240, 240) solid; border-radius:15px; width:1392px">
      <div ng-repeat="affect in affectations | between:date.fstDate">
	<div class="span3 schedule_report" ng-model="affect" cs-render-schedule="true"></div>
      </div>
    </div>

  </div>

  <!-- ADDING AFFECTATION -->
  <div class="row span12" style="margin-left:5%;" ng-controller="BaseAffectationCtrl">
    <div class="affectation tabbable" ng-show="$parent.affectation">
      <ul>
	<ul class="nav nav-tabs" ng-show="mode != 'MODIFY'">
	  <li class="{{active_screen.Affectation}}"><a ng-click="newAffect('Affectation')" href="#affectation_tab" data-toggle="tab">Affectation</a></li>
	  <li class="{{active_screen.Delivery}}"><a ng-click="newAffect('Delivery')" href="#delivery_tab" data-toggle="tab">Livraison</a></li>
	</ul>
	<div class="tab-content" style="overflow:visible">
	  <!-- <div cs-add-affectation="newAffectation"></div> -->
	  <div ng-include src="'partials/add_affectation.html'" ng-controller="AffectationCtrl" class="tab-pane {{active_screen.Affectation}}"
	       id="affectation_tab"></div>
	  <div ng-include src="'partials/add_delivery.html'" ng-controller="DeliveryCtrl" class="tab-pane {{active_screen.Delivery}}" id="delivery_tab">
	  </div>
	</div>
      </ul>
    </div>
  </div>
</div>  

<!-- ATTRIBUTED ELEMENT SCREEN -->
<div class="AttributedElement" ng-show="attribute_elem_screen">
  <div ng-repeat="class in elements_class">
    <div class="row" style="margin-bottom: 20px;" ng-show="(affected_elems | elems:elements_class[$index].name).length > 0">
      <legend class="span12">{{class.screen}}</legend>
      <div class="span12">
  	<li ng-repeat="elem in affected_elems | elems:elements_class[$index].name"
  	    class="span5"><strong>{{elem.elem.name}}</strong> => <em>{{elem.affect_name}}</em></li>
      </div>
    </div>
  </div>
</div>
