<legend><h2>EMPLOYÉS</h2></legend>
<div class="tabbable" ng-controller="EmployeesCtrl">
  <ul>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#emp" data-toggle="tab">Employés</a></li>
      <li><a href="#type" data-toggle="tab">Type d'employés</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="emp">
	<div class="alert fade " bs-alert="alert" ng-repeat="alert in alerts"></div>
	<div class="span4 forms">
	  <legend> Ajouter un nouvel employé</legend>
	  <form>
	    <label>Nom :</label>
	    <input type="text" ng-model="newElem.name">
	    <label>Type :</label>
	    <select ng-model="newElem.employees_type_id" ng-options="type.id as type.type for type in elements | elems:'EmployeesType'"></select>
	    <label>Peut être chef d'équipe</label>
	    <select ng-model="newElem.supervisor" ng-options="can_be.value as can_be.text for can_be in can_be_supervisor"></select>
	    <label>Notes :</label>
	    <textarea ng-model="newElem.notes" rows="3" cols="8"></textarea>
	    <label></label>
	    <button ng-show="!modifying" class="btn btn-success" ng-click="submit()">Ajouter</button>
	    <button ng-show="modifying" class="btn btn-success" ng-click="submit_modification()">Confirmer</button>
	  </form>
	</div>
	<div class="span8" ng-show="((elements | elems:'Employee').length + (elements | elems:'Supervisor').length) > 0">
	  <table class="table table-striped table-bordered">
	    <tr>
	      <th>&nbsp;</th>
	      <th>Nom</th>
	      <th>Type</th>
	      <th>Notes</th>
	      <th>Modifier</th>
	    </tr>

	    <tr ng-repeat="elem in elements | elems:'Supervisor'">
	      <td><button class="close" ng-click="delete_elem(elem)">&times;</button></td>
	      <td>{{elem.name}}</td>
	      <td>{{elem.type}}</td>
	      <td>{{elem.notes}}</td>
	      <td><button ng-click="modify_elem(elem)" class="btn btn-small btn-info">Modifier</button></td>
	      
	    </tr>

	    <tr ng-repeat="elem in elements | elems:'Employee'">
	      <td><button class="close" ng-click="delete_elem(elem)">&times;</button></td>
	      <td>{{elem.name}}</td>
	      <td>{{elem.type}}</td>
	      <td>{{elem.notes}}</td>
	      <td><button ng-click="modify_elem(elem)" class="btn btn-small btn-info">Modifier</button></td>
	    </tr>
	  </table>
	</div>
      </div>
      
      <!-- EMPLOYEE'S TYPE -->
      <div class="tab-pane" id="type" ng-controller="EmployeesTypesCtrl">
	<div class="alert fade " bs-alert="alert" ng-repeat="alert in alerts"></div>
	<div class="span6 forms">
	  <legend> Ajouter un nouveau type d'employé</legend>
	  <form>
	    <label>Type :</label>
	    <input type="text" ng-model="newElem.type">
	    <label></label>
	    <button ng-show="!modifying" class="btn btn-success" ng-click="submit()">Ajouter</button>
	    <button ng-show="modifying" class="btn btn-success" ng-click="submit_modification()">Confirmer</button>
	  </form>
	</div>

	<div class="span3" ng-show="(elements | elems:'EmployeesType').length > 0">
	  <table class="table table-striped table-bordered">
	    <tr>
	      <th>&nbsp;</th>
	      <th>Type</th>
	      <th>Modifier</th>
	    </tr>
	    <tr ng-repeat="elem in elements | elems:'EmployeesType'">
	      <td><button class="close" ng-click="delete_elem(elem)">&times;</button></td>
	      <td>{{elem.type}}</td>
	      <td><button ng-click="modify_elem(elem)" class="btn btn-small btn-info">Modifier</button></td>
	    </tr>
	  </table>
	</div>
      </div>
    </div>
  </ul>
</div>
