<div style="height:{{affect.height}}px; font-size:10px; padding: 0 10px 0 10px;">
  <div class="pull-left">{{affect.date_format}}</div><div class="pull-right">{{affect.start_time.time}}</div>

  <!-- AFFECTATION -->
  <table ng-show="affect.strClass == 'Affectation'" class="table table-condensed" style="text-align:center; ">
    <tr>
      <th>{{affect.get_client().name}}</th>
    </tr>
    <tr>
      <td><strong>{{affect.link_number}}</strong></td>
    </tr>
    <tr>
      <td><strong>{{affect.get_supervisor().name}}</strong></td>
    </tr>
    <tr ng-repeat="elem in affect.elems | elems:'Supervisor'">
      <td id="sup{{$index}}">{{elem.name}}</td>
    </tr>
    <tr ng-repeat="elem in affect.elems | elems:'Employee'">
      <td id="emp{{$index}}">{{elem.name}}</td>
    </tr>
    <tr ng-repeat="elem in affect.elems | elems:'Truck'">
      <td id="truck{{$index}}">{{elem.name}}</td>
    </tr>
    <tr id="id_box1" ng-repeat="elem in affect.elems | elems:'Box'">
      <td id="box{{$index}}">{{elem.name}}</td>
    </tr>
    <tr>
      <td>{{affect.notes}}</td>
    </tr>
  </table>

  <!-- DELIVERY -->
  <table ng-show="affect.strClass == 'Delivery'" class="table table-condensed" style="text-align:center; ">
    <tbody>
      <tr>
	<td><strong>{{affect.link_number}}</strong></td>
      </tr>
      <tr>
	<td><strong>{{affect.get_supervisor().name}}</strong></td>
      </tr>
    </tbody>
    <tbody ng-repeat="client in affect.clients">
      <tr>
  	<td id="client_name{{$index}}"><strong>{{affect.get_client($index).name}}</strong></td>
      </tr>
      <tr>
  	<td id="client_type{{$index}}">{{client.type}}</td>
      </tr>
      <tr ng-show="client.note != ''">
  	<td id="client_note{{$index}}">{{client.note}}</td>
      </tr>
    </tbody>
    <tbody style="border-top:3px solid #dddddd;">
      <tr ng-repeat="elem in affect.elems | elems:'Supervisor'">
	<td>{{elem.name}}</td>
      </tr>
      <tr ng-repeat="elem in affect.elems | elems:'Employee'">
	<td>{{elem.name}}</td>
      </tr>
      <tr ng-repeat="elem in affect.elems | elems:'Truck'">
	<td>{{elem.name}}</td>
      </tr>
      <tr id="id_box1" ng-repeat="elem in affect.elems | elems:'Box'">
	<td>{{elem.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
