<div id="modal_elements_id" class="modal-elements" ng-controller="ElementsSelectionCtrl" style="width:90%;">
  <legend style="width:225px; float:left;"> Équipe : </legend>
  <div>  <!-- ng-show="!team_confirmed"> -->
    <button style="float:left; margin-left:45px; margin-top:8px;" class="btn btn-info" ng-click="open()">Sélectionner votre équipe</button>
    <button style="float:left; margin-left:45px; margin-top:8px;" class="btn btn-danger" ng-click="clear_team()">Effacer l'équipe</button>
    <label class="checkbox inline" style="margin: 10px 0px 20px 43px;" for="use_already_affected_checkbox" style="margin-left:15px;">
      <input id="use_already_affected_checkbox" type="checkbox" ng-model="$parent.use_already_affected">
      Utiliser des éléments déjà affectés
    </label>
  </div>
  <div style="clear:both";></div>
  <div modal="shouldBeOpen" close="close()" options="opts">
    <div class="modal-header">
      <h4>Ajouter des Éléments</h4>
    </div>
    <div class="modal-body tabbable">
      <ul>
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#tab1" data-toggle="tab">Supervisors</a></li>
	  <li><a href="#tab2" data-toggle="tab">Employee</a></li>
	  <li><a href="#tab3" data-toggle="tab">Camions</a></li>
	  <li><a href="#tab4" data-toggle="tab">Coffres</a></li>
	</ul>
	<div class="tab-content">

	  <div ng-repeat="class in elements_class" class="tab-pane {{hack[$index].active}}" id="tab{{$index + 1}}">
	    <div class="row modal-checkboxes" 
		 ng-repeat="elem in elements | elems:elements_class[$index].name | already_attr_elems:days:newAffectation.date:use_already_affected | remove_supervisor:newAffectation.supervisor_id | active_element:newAffectation.date:days">
	      <div class="squaredFour span1" style="margin-bottom:8px;">
		<input type="checkbox" ng-checked="elem.selected" id="modal_{{elements_class[$parent.$index].name}}{{elem.id}}"
		       ng-model="elem.selected" ng-change="change(elem);" />
		<label for="modal_{{elements_class[$parent.$index].name}}{{elem.id}}"></label>
	      </div>
	      <div class="span3 modal-label" style="margin-top:0px; margin-left:-40px;">{{elem.name}} </div>
	    </div>
	  </div>
	</div>
      </ul>
    </div>
    <div class="modal-footer row">
      <button class="btn btn-success" ng-click="process();close()">Appliquer</button>
    </div>
  </div>
</div>
